.card {
  width: 140px;
  height: 180px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.card img {
  width: 100%;
}

.suit {
  padding: 10px;
  width: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100px;
  background-size: auto;
}

.suit:first-of-type {
  top: 0;
  left: 0;
}

.suit:last-of-type {
  bottom: 0;
  right: 0;
}

.rank {
  color: green;
}
