.app {
  text-align: center;
  font-family: Arial, serif;
  text-transform: uppercase;
}

.button {
  background-color: darkred;
  border: black;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin: 2rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: black;
  transform: scale(1.2);
}
